<plugin name='hazelgrails' version='0.1' grailsVersion='1.3 &gt; *'>
  <author>Enes Akar</author>
  <authorEmail>enesakar@gmail.com</authorEmail>
  <title>Hazelcast Plugin</title>
  <description>Use distributed data structures of Hazelcast in your Grails project.
</description>
  <documentation>http://grails.org/plugin/hazelgrails</documentation>
  <type>HazelgrailsGrailsPlugin</type>
  <resources>
    <resource>hazelgrails.HazelController</resource>
    <resource>hazelgrails.TestController</resource>
    <resource>hazelgrails.City</resource>
    <resource>hazelgrails.Person</resource>
    <resource>hazelgrails.Student</resource>
    <resource>hazelgrails.HazelService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='com.hazelcast' name='hazelcast' version='2.0' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>